html, body{
    
  }
  body{
    background: linear-gradient(to bottom, #7927b2, #fb3182);
    
  }
p{
  text-align: justify;
}
html {
  font-size: calc(15px + 0.390625vw);
}
@media screen and (max-width: 480px){
    .kep{
      width: auto;
      height: auto;
    }
}
