@media screen and (max-width: 360px){
    .wrapper1{
        position: fixed;
        top: 100px;
        right: 230px;
    }
    .wrapper{
        position: fixed;
        bottom: 200px;
        left: 70px;
        
        
        
        
    }
    a{
        display: flex;
        font-size: 20px;
        font-family: sans-serif;
        text-decoration: none;
        color: rgba(55, 235, 169, 0.85);
        border-top: 2px solid rgba(55, 235, 169, 0.85);
        border-bottom: 2px solid rgba(55, 235, 169, 0.85);
        margin-right: -180px;
        padding: 10px;
        letter-spacing: 2px;
        transition: all .25s;
        
      }
}