@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gradient {
  --size: 100px;
  --speed: 5s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(rgba(55, 235, 169, 0.85), #5b37eb);
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}
body {
  background-color: #222;
  
  display: flex;
  place-content: center;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  
}

/* This is just to transition when you change the viewport size. */
* {
  transition: all 0.25s ease-out;
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper1{
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.wrapper2{
  position: fixed;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

a{
  display: block;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  color: rgba(55, 235, 169, 0.85);
  border-top: 2px solid rgba(55, 235, 169, 0.85);
  border-bottom: 2px solid rgba(55, 235, 169, 0.85);
  padding: 10px;
  letter-spacing: 2px;
  transition: all .25s;
}

a:hover{
  letter-spacing: 15px;
}